*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f2f2f2;
}
header.header{
	display: flex;
	align-content: cneter;
	justify-content: center;
	padding: 10px;
	background: #ffffff;
	font-family: 'Alkatra', cursive;
}
.conteiner{
	margin: auto;
	width: 65%;
	padding: 10px;
}
.conteiner main article{
	background: #ffffff;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 2.2em rgba(0,0,0,.3);
}